services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    networks:
      - app-tier

  frontend:
    build: 
      context: ./frontend
      args:
        - VITE_API_URL=http://localhost:8000
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-tier

networks:
  app-tier:
    driver: bridge